

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/assets/space-background.jpg');
  background-size: cover;
  color: white;
  text-align: center;
}

.game-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.home-buttons {
  display: flex;
  flex-direction: column;
}

.start-button, .continue-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.start-button:hover, .continue-button:hover {
  background-color: #2980b9;
}

.instructions {
  margin-top: 30px;
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
}

/*  */

.planet {
  background-color: #00f;
  border: none;
  color: white;
  padding: 2.7%;
  height: 5.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4% 2%;
  cursor: pointer;
  border-radius: 50%;
  left: 41%;
  position: absolute;
  bottom: 19%;

}

.unlocked a {
  color: #00ff00; /* unlocked planets */
  text-decoration: none;
}

.locked span {
  color: #888888; /* locked planets */
}


/*  */

.maze-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Space Mono', monospace; /* Space-themed font */
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.path {
  background-color: #1a1a1a;
}

.wall {
  background-color: #333;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    background-color: #333;
  }
  50% {
    background-color: #555;
  }
  100% {
    background-color: #333;
  }
}

.player {
  background-color: #00f;
  transition: all 0.3s ease;
}

.fact-box {
  margin-top: 20px;
  padding: 10px;
  background-color: #222;
  color: #fff;
  border-radius: 5px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.leave-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.leave-button:hover {
  background-color: #218838;
}

.SolarSystem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/assets/solar-system-background.jpg');
  background-size: cover;
  color: white;
  text-align: center;
}

.Earth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  background-image: url('/assets/earth-background.png');
  background-size: cover;
  color: white;
  text-align: center;
}

.Moon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  background-image: url('/assets/moon-background.png');
  background-size: cover;
  color: white;
  text-align: center;
}

.Mars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  background-image: url('/assets/mars-background.png');
  background-size: cover;
  color: white;
  text-align: center;
}

