

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/assets/space-background.jpg');
  background-size: cover;
  color: white;
  text-align: center;
}

.game-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.home-buttons {
  display: flex;
  flex-direction: column;
}

.start-button, .continue-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.start-button:hover, .continue-button:hover {
  background-color: #2980b9;
}

.instructions {
  margin-top: 30px;
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
}

/*  */

.PEarth{
  padding: 37px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 430px;
  left: 662px;
}

.PEarth:hover{
  box-shadow: 0px 2px 2px 10px green;
}

.PMoon {
  padding: 3px;
  height: 30px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 503px;
  left: 794px;
}

.PMoon:hover {
  box-shadow: 0px 2px 2px 10px lightgray;
}

.PMars {
  padding: 20px;
  height: 30px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;  
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 335px;
  left: 802px;
}

.PMars:hover {
  box-shadow: 0px 2px 2px 10px red;
}

.PVenus {
  padding: 30px;
  height: 45px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 228px;
  left: 530px;
}

.PVenus:hover {
  box-shadow: 0px 2px 2px 10px blue;
}

.unlocked a {
  color: #010f02; /* unlocked planets */
  text-decoration: none;
}

.locked span {
  color: #888888; /* locked planets */
}


/*  */

.maze-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Space Mono', monospace; /* Space-themed font */
}

.Earth-container {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/earth-landing.png');
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Space Mono', monospace; /* Space-themed font */
}

.Moon-container {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/moon-landing.png');
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Space Mono', monospace; /* Space-themed font */
}

.Mars-container {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/mars-landing.png');
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Space Mono', monospace; /* Space-themed font */
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.planetCell{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.path {
  background-color: #1a1a1a;
}

.wall {
  background-color: #333;
  animation: pulse 2s infinite;
}

.EarthWall {
  background-color: rgb(15, 80, 15,0.75)
}

.MoonWall{
  background-color: rgb(220, 220, 220, 0.75);
}

.MarsWall {
  background-color: rgb(224, 103, 5, 0.75);
}

@keyframes pulse {
  0% {
    background-color: #333;
  }
  50% {
    background-color: #555;
  }
  100% {
    background-color: #333;
  }
}

.player {
  background-color: #00f;
  transition: all 0.3s ease;
}

.fact-box {
  margin-top: 20px;
  padding: 10px;
  background-color: #222;
  color: #fff;
  border-radius: 5px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.leave-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.leave-button:hover {
  background-color: #218838;
}

.SolarSystem {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('/assets/solar-system-background.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

.Earth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  background-image: url('/assets/earth-background.png');
  background-size: cover;
  color: white;
  text-align: center;
}

.Moon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  background-image: url('/assets/moon-background.png');
  background-size: cover;
  color: white;
  text-align: center;
}

.Mars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  background-image: url('/assets/mars-background.png');
  background-size: cover;
  color: white;
  text-align: center;
}

/* MiniGame Styles */
.mini-game {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  margin: 50px auto;
}

.mini-game h2 {
  margin-bottom: 20px;
}

.mini-game p {
  font-size: 18px;
}

.mini-game form {
  margin-bottom: 20px;
}

.mini-game label {
  display: block;
  margin-bottom: 10px;
}

.mini-game button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.mini-game button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}